@page
@model UserBase.Pages.Account.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<header>
    <h1>@ViewData["Title"]</h1>

    <form class="form-inline" asp-page="/Account/Delete" asp-route-userId="@Model.UserId" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Click here to delete user with id=@Model.UserId </button>
    </form>
</header>