@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Пользователи</h2>
    <table class="table">
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.UserName</td>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="32" height="32" />
                    }
                </td>
                @if (User.IsInRole(Enums.Roles.Admin.ToString()))
                {
                    <td>
                        <a asp-page="/Account/Delete" asp-route-userId="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </table>
    <a asp-page="/Account/Register">Register</a>
    <br />
    <a asp-page="/Account/Login">Login</a>
</div>
