@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Пользователи</h2>
    <table class="table">
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
    </table>
    <a asp-page="/Account/Register">Register</a>
    <br />
    <a asp-page="/Account/Login">Login</a>
</div>
